article {
    border: black 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

code {
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    background-color: aliceblue;
}

article.note h2:first-child::before, article.note h3:first-child::before {
    color: blue;
    content: "\24D8";
    margin-right: 5px;
    font-weight: lighter;
}

article.warning h2:first-child::before, article.warning h3:first-child::before {
    color: red;
    content: "\26A0";
    margin-right: 5px;
    font-weight: lighter;
}

kbd {
    border: lightgray 1px solid;
    border-radius: 3px;
}

table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

th {
    background-color: lightpink;"
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

article a {
    text-decoration: none;
    color: #436ebd;
}

img {
    width: 80%;
    height: auto;
}

span.selectedCode {
    display: inline-block;
    border: 1px solid red;
    background: lightgoldenrodyellow;
}